{% extends 'base.html' %}
{% block content %}
<html>

<head>
    <link rel="stylesheet" href="/static/css/cover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/static/css/cover.css">
    <title>PedalHire</title>
    <style>
        body {
            background-color: black;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            */
        }

        .form-signin {
            color: white;
        }
        .bootstrap-datetimepicker-widget.dropdown-menu {
                background-color: #30363b;
                border-color: #2b3135;
            }
    </style>
    <script>
        var path = "";
        $(document).ready(function(){
            $("#startDate").datetimepicker({
                format: 'YYYY-MM-DD hh:mm'
            });
        });
        $(document).ready(function(){
            $("#endDate").datetimepicker({
                format: 'YYYY-MM-DD hh:mm'
            });
        });

        function onSubmit(event) {
            event.preventDefault();
            const url = "/api/v1/addProduct";
            const data = {
                "name": document.getElementById('name').value,
                "description": document.getElementById('description').value,
                "price": document.getElementById('price').value,
                "startDateTime": document.getElementById('startDateTime').value,
                "endDateTime": document.getElementById('endDateTime').value,
                "img": document.getElementById('img').files
            };
            const other_params = {
                headers: { "content-type": "application/json; charset=UTF-8", "token": localStorage.getItem("auth_token") },
                body: JSON.stringify(data),
                method: "POST",
                mode: "cors"
            };

            fetch(url, other_params)
                .then(function (response) {
                    if (response.ok) {
                        return response;
                    } else {
                        throw new Error("Could not reach the API: " + response.statusText);
                    }
                }).then(function (data) {
                    window.location.replace("/");
                }).catch(function (error) {
                    console.log(error.message)
                });
            return true;
        }

        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            path = event.target.files[0];
            document.getElementById("output").style.display = "inline";
            output.onload = function() {
              URL.revokeObjectURL(output.src) // free memory
            }
      };
    </script>
</head>

<body>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <div class="text-center">
                            <h2 class="form-signin-heading">Add Product</h2>
                    </div>
                    <form class="form-signin" action="/api/v1/addProduct" method="POST" enctype="multipart/form-data">
                        <img id="output" style="border: 10px;  solid white; border-radius: 50%; background:white;" width="235" height="151"/>
                        <input class="form-group col-xs-12" type="file" name="img" id="img" accept="image/*" onchange="loadFile(event)">
                            <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="name" id="name" name="name" class="form-control" placeholder="Name"
                                    required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="description" id="description" name="description" class="form-control" placeholder="Description"
                                    required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="price" id="price" name="price" class="form-control" placeholder="Price"
                                    required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <div class='input-group date' id='startDate'>
                                    <input type='text' id="startDateTime" name="startDateTime" class="form-control" placeholder="Start Date"/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <div class='input-group date' id='endDate'>
                                    <input type='text' id="endDateTime" name="endDateTime" class="form-control" placeholder="End Date"/>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <input type="hidden" id="loginId" name="loginId" value={{ request.args.get('authToken') }}>
                        </div>
                        <input type="submit" id="upload" value="Upload">
                    </form>
                </div>

            </div>

        </div>

    </div>
</body>

</html>
{% endblock %}