{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>PedalHire</title>
        <style>
            body {
                background-image: url("/static/img/cycling_background.jpg");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;*/
            }
        </style>
    </head>
    <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
              <h1 class="cover-heading">PedalHire.</h1>
            <p class="lead">Hire on the go!
            <p class="lead">
            <a href="/melons" class="btn btn-lg btn-default">Shop Now</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <p>Copyright Ubermelon 2020. All rights reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    </body>
</html>
{% endblock %}