{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>PedalHire</title>
        <style>
            body {
                background-color: black;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;*/
            }
            .form-signin {
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="site-wrapper">

          <div class="site-wrapper-inner">

            <div class="cover-container">

              <div class="inner cover">
                    <form class="form-signin" method="POST">
                        <div class="text-center">
                            <h2 class="form-signin-heading">Sign In</h2>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="email" name="email" class="form-control" placeholder="Email Address" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="password" name="password" class="form-control" placeholder="Password" required />
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-default" type="submit">Sign In</button>
                            <a href="/registration"><button class="btn btn-default" type="button">Sign Up</button></a>
                        </div>
                    </form>
              </div>

            </div>

          </div>

        </div>
    </body>
</html>
{% endblock %}