{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>PedalHire</title>
        <style>
            body {
                background-color: black;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;*/
            }
        </style>
    </head>
    <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
                <h1 class="cover-heading">Order Details</h1>
                <p class="lead">Product Name : {{ response['products']['name'] }}</p>
                <p class="lead">Product Description : {{ response['products']['description'] }}</p>
                <p class="lead">Order Duration : {{ response['start_date'] }} - {{ response['end_date'] }}</p>
                 <p class="lead">Status : {{ response['order_status'] }}</p>
          </div>

        </div>

      </div>

    </div>
    </body>
</html>
{% endblock %}